# ignore everything
*
# white dir
!*/
!.giignore

!*_git.*

# DS script files
!*.R
!*.Rmd
!*.Rd
!*.Rproj
!*.py
!*.ipynb
.Rproj.user

# other files
!*.md
!*.html
!DESCRIPTION
!NAMESPACE
!LICENSE

# Image files
!*.png
!/docs/*
.Rhistory
.RData
inst/doc
